@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


        <p>
            Tajné číslo je zrovna: @if (Model.isSetSecret)
            { <span>@Model.SecretNumber</span>}
            else
            {
                <span>Není zadané tajné číslo</span>
            }
        </p>

    </div>
